* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
}

li,
a,
button {
	font-weight: 500;
	/* color: #edf0f1; */
	font-size: 1em;
	color: #f3f4f5;
}

/* ==================================
Header
===================================== */
header {
	width: 100%;
	height: 100vh;
}
.header_banner,
.about_banner,
.services_banner {
	image-orientation: flip;
	width: 100%;
	height: 100vh;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
}
.header_banner {
	background-image: url("../images/homepage/city-homepage.jpg");
}
.about_banner {
	background-image: url("../images/about-images/about-bg.jpg");
}
.services_banner {
	background-image: url("../images/services-images/services-bg.jpg");
}
.header_bg_color {
	width: 100%;
	height: 100vh;
	background: #022c43;
	opacity: 0.71;
	position: relative;
}
.header_bg_color,
.header_banner,
.about_banner,
.services_banner {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}

a {
	text-decoration: none;
}

/* ==================================
Navbar 
===================================== */
.header_nav {
	justify-content: space-between;
	padding: 3em 0 1em;
}
.content_wrapper {
	width: 80%;
	margin: 0 auto;
}

.banner_text {
	margin-top: 5em;
	color: #f3f4f5;
	text-align: center;
}
.logo {
	cursor: pointer;
	margin-right: auto;
	text-align: center;
	margin-bottom: 1.5em;
	color: #f3f4f5;
	font-size: 2.5em;
}
.nav_links {
	text-align: center;
}
.nav_links li {
	display: inline-block;
	padding: 0px 20px;
	margin: 0 auto;
	transition: 0.3s ease-out 0s;
}
.dark-blue {
	color: #115173;
}

.nav_links li a:hover {
	color: #5babd6;
}

.cta {
	display: block;
	text-align: center;
	padding: 10px;
	background-color: #2e81ad;
	border-radius: 5px;
	margin-top: 1em;
	transition: 0.3s ease-out 0s;
}
.cta:hover {
	background-color: #115173;
}

/* ==================================
Section 
===================================== */
.services {
	display: block;
	align-content: center;
}
.services img,
.about-image img {
	width: 100%;
	height: auto;
}
.services-images-2 {
	margin-left: auto;
}
.main-content figcaption {
	padding: 15px 20px;
	background-color: #022c43;
	color: #ffffff;
	font-weight: 300;
}
.section_text {
	font-size: 2em;
	color: #115173;
	margin-bottom: 1em;
}
.section_text-about {
	margin: 6em 0;
}
section {
	margin: 5em 0;
	display: block;
}
.main-content h3 {
	font-size: 2em;
	font-weight: 100;
}
.wrapper {
	width: 100%;
	margin: 20px auto 100px auto;
	text-align: center;
	padding: 40px 10px 20px 10px;
	background-color: #dadbe0;
	font-size: 1.2em;
}
.photo-wrapper {
	margin-bottom: 50%;
}
.wrapper p {
	font-weight: 100;
}
section h2 {
	text-align: center;
	font-weight: 100;
	font-size: 2em;
	margin-bottom: 2em;
}

/* ==================================
Form 
===================================== */
.contact-form {
	margin: 2em 0;
}
form {
	width: 100%;
}
.contact-info p {
	font-size: 2em;
	margin-top: 4em;
	font-weight: 100;
}
.group {
	position: relative;
	margin-bottom: 45px;
}
input,
textarea {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	border: none;
	border-bottom: 1px solid #757575;
}
input:focus,
textarea:focus {
	outline: none;
}

/* LABEL ======================================= */
label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
	top: -20px;
	font-size: 14px;
	color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
	position: relative;
	display: block;
	width: 100%;
}
/* .bar:before,
.bar:after {
	content: "";
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #5264ae;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
} */
.bar:before {
	left: 50%;
}
.bar:after {
	right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after,
textarea:focus ~ .bar:before,
textarea:focus ~ .bar:after {
	width: 60%;
}

/* HIGHLIGHTER ================================== */
/* .highlight {
	position: absolute;
	height: 60%;
	width: 60%;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
} */

/* active state */
/* input:focus ~ .highlight,
textarea:focus ~ .highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
} */

/* ANIMATIONS ================ */
/* @-webkit-keyframes inputHighlighter {
	from {
		background: #5264ae;
	}
	to {
		width: 0;
		background: transparent;
	}
}
@-moz-keyframes inputHighlighter {
	from {
		background: #5264ae;
	}
	to {
		width: 0;
		background: transparent;
	}
}
@keyframes inputHighlighter {
	from {
		background: #5264ae;
	}
	to {
		width: 0;
		background: transparent;
	} 
}*/

/* ==================================
Footer 
===================================== */

.footer_wrapper {
	height: auto;
	width: 100%;
	background-color: #dadbe0;
	padding-bottom: 70px;
}
.footer_wrapper div {
	width: 80%;
	margin: 0 auto;
}

.footer_wrapper h2 {
	padding-top: 5em;
}
.footer_wrapper ul li {
	display: block;
	text-align: left;
	padding: 1em 0;
}
.footer_wrapper ul li a {
	color: #115173;
}

@media (min-width: 768px) {
	.header_nav {
		display: flex;
	}
	.wrapper {
		width: 80%;
		margin: 150px auto 30px auto;
		text-align: center;
		padding: 50px 50px;
		background-color: #dadbe0;
	}
	.services img {
		width: 10px;
	}
	.about-image img {
		width: 355px;
	}
	.services-images-2 {
		margin-left: 10px;
	}
	.cta {
		padding: 1px 35px;
		margin-top: 0;
		text-align: left;
		height: 2.4em;
	}
	.header_nav a,
	.nav_links {
		padding-top: 0.7em;
	}
	.banner_text {
		font-size: 3.5em;
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
	.main-content {
		display: flex;
	}
	.main-content div {
		margin-left: 4em;
		margin-top: 10%;
	}
	.footer-wrapper {
		right: 0;
		bottom: 0;
		height: auto;
	}
	.photo-wrapper {
		margin-bottom: 70%;
	}
	.wrapper {
		margin-bottom: 150px;
	}

	/* Form */
	.contact-form {
		display: flex;
	}
	input,
	textarea {
		width: 60%;
	}
	.contact-info {
		width: 20%;
	}
}

@media (min-width: 1240px) {
	.services img {
		width: 100%;
	}
	.services-images-2 {
		margin-left: 20px;
	}
	.services-images-1 {
		margin-left: auto;
	}
	.services-images-2 {
		margin-right: auto;
	}
	.services-images {
		margin: 0 auto;
	}
}
